<footer class="divv" style="background-color: #F2F3F4;">
  <hr class="hr">
     <div class="row">
     <mat-grid-list cols="4" rowHeight="2:1">
      <mat-grid-tile>
        <div>
        <p>Case Manager</p>
        <a class="f"> case manager aplication</a>
        <br>
        <a class="f"> case manager aplication</a>
        <br>
        <a class="f"> case manager aplication</a>
      </div>
        <br>
        
        
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          
          <p>What We Do</p>
          <a class="f"> Consulting Services</a><br>
          <a class="f">SaaS Applications</a>
          
          <br>
          <a class="f"> Information management</a>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <p>Company</p>
          <a class="f"> About us</a>
          <br>
          <a class="f"> career</a>
          <br>
          <a class="f"> Become Investor</a>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <p>Support</p>
          <a class="f">FAQ</a>
          <br>
          <a class="f"> Policy</a>
          <br>
          <a class="f">Business</a>
        </div>
      </mat-grid-tile>
      
    </mat-grid-list>
   
    <form>
          <button class="stylebtn " formaction="https://fr-fr.facebook.com/" type="submit" style="background-color: none;" > 
            <i class="bi bi-facebook" value="w3docs" style="color:blue;"  ></i>
           </button>
          
          
           <button class="stylebtn"  formaction="https://twitter.com/i/flow/login"  type="submit"> 
           <i class="bi bi-twitter"  style="color:#1DA1F2;"  ></i></button>
          
          
           <button class="stylebtn "  formaction="https://www.linkedin.com/login/fr" type="submit"> 
           <i class="bi bi-linkedin" style="color:#0077b5"></i></button>
          
        </form>
      <!-- Copyright -->
       <div class="footertext" >
         <h5>© 2022 Copyright: All rights are reserved.</h5> 
       </div>
    </div>
      <!-- Copyright -->
</footer>