<app-navaiagation-bar></app-navaiagation-bar>
<!-- Dashboard page -->
<div class="container">

    <div class="row">
        
        <div id="maDivGauche" style="float:left">
            
             <p>case management: SAAS solution</p>
             Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            <p> orem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            <p>  when an unknown printer took a galley of type and scrambled it.
  </p>
  
</div>
    
        <div id="maDivDroite" style="float:right;clear:right;">
           <!-- <img [src] ="myimage" alt="">-->
            <img src ="\assets\images\first.png" width="150" height="150">
        
        </div>
    </div>
    <br>
    <br>
    <hr>


    <!--<div id="center">
            <div class="center" >
              <button  mat-raised-button color="primary">IT</button>
              <button mat-raised-button>Legal</button>
              <button mat-raised-button >SAP</button>
              <button mat-raised-button >Industry</button>
              <button mat-raised-button>Marketing</button>
            <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
            </div>
        
    </div>-->
    <div class="container">
        <div class="grid">
          <mat-grid-list  cols="4" rowHeight="3:3" [gutterSize]="'10px'" >
              <mat-grid-tile>
                  <a>
                      <img src ="\assets\images\second.jpg" width="200px" height="170px">
                  <br />
                  <mat-grid-tile-footer>
                    <h3>Simplfy complex content challenges</h3>
                  </mat-grid-tile-footer>
                  
                   </a> 
              </mat-grid-tile>
             <mat-grid-tile>
                  <a>
                      <img src ="\assets\images\third.jpg" width="200" height="170">
                  <br />
                  <mat-grid-tile-footer>
                  <h3>Create Business solutions differently</h3>
                </mat-grid-tile-footer>
                   </a> 
              </mat-grid-tile>
              <mat-grid-tile> <a>
                  <img src ="\assets\images\accueil.jpg" width="200" height="170">
              <br/>
              <mat-grid-tile-footer>
              <h3>Discover what’s new</h3></mat-grid-tile-footer>
               </a> </mat-grid-tile>
              <mat-grid-tile> <a>
                  <img src ="\assets\images\hh.jpg" width="200" height="170">
              <br />
              <mat-grid-tile-footer>
              <h3>Build,connect and extend faster</h3> </mat-grid-tile-footer>
               </a> </mat-grid-tile> 
            </mat-grid-list>
      
        </div>
  
    </div>
</div>

<app-footer></app-footer>