<mat-toolbar>
   <a href="">Case Manager Application</a>
  <ul  class="nav navbar-nav">
   &nbsp;
   &nbsp;&nbsp;
   <a  mat-button  href="" routerLink="home">Home</a>
   <a mat-button> Services</a>
   
 
 
 
   <a mat-button href="a">About</a>
   <a mat-button href="c">Contact</a></ul>
   <div class="spacer">  </div>
   <a class ="c" button href="main/login"  >Log in</a> 
   &nbsp;
   &nbsp;
   &nbsp;
    <!-- <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />-->
     <!--<a class ="c" button href="s"  >Search</a> -->
    <a button class="stylebtn" href="s" type="submit"> 
       <i class="bi bi-search" href="s" style="color:#1DA1F2;" ></i>
       
    </a>
     <div class="space">  </div>
 
 
     <div class="search-box">
      <!-- <button class="btn-search"><i class="fas fa-search"></i></button>
       <input type="text" class="input-search" placeholder="Type to Search...">-->
      <!-- <button class="stylebtn"  type="submit"> 
         <i class="bi bi-search"  style="color:#1DA1F2;"  ></i></button>-->
 
 
     </div>  
 </mat-toolbar>
 &nbsp;
 &nbsp;